body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.logo {
    width: 50px;
    margin-right: 10px;
    border-radius: 50%;
    animation: slideIn 1s ease-in-out forwards;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1.5s ease-in-out forwards;
}

.imageandlogo {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    animation: slideIn 1.2s ease-in-out forwards;
}

.imageandlogo p {
    margin: 0;
}

.imageandlogo:hover {
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideIn 1.5s ease-in-out forwards;
}

.nav-links a,
.dropbtn {
    color: #000000;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover,
.dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}

.nav-links a.active {
    background-color: #000000;
    color: white;
    border-radius: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .topnav {
        flex-direction: column;
        align-items: center;
    }

    .imageandlogo {
        justify-content: center;
        margin-bottom: 10px;
        text-align: center;
    }

    .imageandlogo p {
        margin-left: 0;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .nav-links a,
    .dropbtn {
        width: 100%;
    }

    .dropdown-content {
        min-width: 100%;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
